<!DOCTYPE html>
<html>
<head>
	<title>User List Page</title>
</head>
<body>

	<div id="page_title">
		<h1>User List</h1>
	</div>

	<div id='nav_bar'>
		<a href="home.php"> Back</a> |
		<a href="../controller/logout.php"> logout</a>	
	</div>

	<div id="main_content">
		<table border="1">
			<tr>
				<td>ID</td>
				<td>NAME</td>
				<td>EMAIL</td>
			</tr>
			<tr>
				<td>1</td>
				<td>alamin</td>
				<td>alamin@gmail.com</td>
			</tr>
			<tr>
				<td>2</td>
				<td>xyz</td>
				<td>xyz@gmail.com</td>
			</tr>
			<tr>
				<td>3</td>
				<td>abc</td>
				<td>abc@gmail.com</td>
			</tr>
		</table>
	</div>

	<div id="footer">
		<p>copyright@2021</p>
	</div>
</body>
</html>